@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat';
    background-image: url("../photos/menu_background.jpg");
    background-size: cover;
}

strong {
    font-weight: 600;
}

.container {
    border: 4px powderblue solid;
    background: rgb(255, 241, 0);
    background: linear-gradient(130deg, rgba(255, 241, 0, 1) 0%, rgba(255, 165, 0, 1) 100%);
    padding: 2%;
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.div_subclasses {
    padding: 1%;

    /* manual styles */
    /* padding-left: -10px; */
}

.menuItem {
    padding-left: 23%;
    padding-bottom: 0.9%;
}

.subHeading {
    padding-bottom: 0.3%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.item {
    padding-left: 23%;
}

.ingredientes {
    font-size: 0.72em;
}

@media only screen and (max-device-width: 2000px) {
    .container {
        font-size: 25px;
    }

    .menuItem {
        padding-left: 15%;
    }
}

@media only screen and (max-device-width: 1300px) {
    .container {
        margin-left: 12%;
        margin-right: 12%;
        font-size: 20px;
        /* padding-left: 10px; */

    }

    .menuItem {
        padding-left: 15%;
        padding-bottom: 0.9%;
        /* padding-left: 100px; */
    }

    .div_subclasses {
        padding: 2%;
    }

    .item {
        padding-left: 15%;
    }
}

@media only screen and (max-device-width: 800px) {
    .container {
        margin-left: 7%;
        margin-right: 7%;
        font-size: 17px;
    }

    .menuItem {
        padding-left: 15%;
        padding-bottom: 0.9%;
    }

    .div_subclasses {
        padding: 2%;
    }

    .item {
        padding-left: 3%;
    }
}

.menuFooter {
    margin-top: auto;
}

/* pusating button styles */
.pulsating-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s infinite;
    margin-bottom: 10px;
    margin: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}